@inherits LayoutComponentBase

<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>COOK</b>&nbsp;Solutions</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            @Body
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

